{% extends "base.html" %}

{% block title %}Produkt{% endblock %}

{% block content %}
    <h1>{{ product.product_name }}</h1>
    <p><strong>Product ID:</strong> {{ product.product_id }}</p>

    <h2>Pobierz pliki</h2>
    <ul>
        <li><a href="{{ url_for('download_json', product_id=product.product_id) }}">Pobierz JSON</a></li>
        <li><a href="{{ url_for('download_csv', product_id=product.product_id) }}">Pobierz CSV</a></li>
        <li><a href="{{ url_for('download_xlsx', product_id=product.product_id) }}">Pobierz XLSX</a></li>
    </ul>
    <h2>Wykresy</h2>
    <p>
    <a href="{{ url_for('charts', product_id=product.product_id) }}">Zobacz wykresy</a>
    </p>
    <h2>Statystyki</h2>
    <ul>
        <li>Polecam: {{ product.stats.recommendations["Polecam"] }}</li>
        <li>Nie polecam: {{ product.stats.recommendations["Nie polecam"] }}</li>
        <li>Brak: {{ product.stats.recommendations["Brak"] }}</li>
    </ul>

    <h2>Opinie</h2>

    {% for opinion in product.opinions %}
        <hr>
        <p><strong>Autor:</strong> {{ opinion.author }}</p>
        <p><strong>Ocena:</strong> {{ opinion.score }}</p>
        <p><strong>Rekomendacja:</strong> {{ opinion.recommendation }}</p>
        <p><strong>Treść:</strong></p>
        <p>{{ opinion.content }}</p>

        {% if opinion.pros %}
            <p><strong>Zalety:</strong> {{ opinion.pros|join(", ") }}</p>
        {% endif %}

        {% if opinion.cons %}
            <p><strong>Wady:</strong> {{ opinion.cons|join(", ") }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}